footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #323946;
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #0ef;
    border-radius: .8rem;
    transition: .5s ease;
}


.footer-iconTop a:hover{
    color:#0ef;
    box-shadow:0 0 1rem #0ef;
    
}

.footer-iconTop a i{
    font-size: 2.7rem;
    color: #323946;
}
